body {
	background: url("1.jpg");
	background-size: cover;
	background-position: center;
	font-family: "montserrat";
	background-repeat: no-repeat;
}

h2 {
	color: #fba14b;
}

.container {
	text-align: center;
	padding-top: 10px;
}

.content {
	color: white;
	padding-top: 10px;
}

a {
	color: #fba14b;
}

h4 {
	letter-spacing: 1px;
	word-spacing: 3px;
}
