body{
	background: url("1.jpg");
	background-size: cover;
	color: #fba14b;
	text-align: center;
	padding-top: 10%;
	font-family: "montserrat";
	background-repeat: no-repeat;
}

.row {
	padding-left: 40%;
	padding-right: 40%;
	padding-top: 5%;
}

.thumbnail, img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
